<% layout('./layout') -%>

<div class="login-box" id="register-box">
  <form class="profile-form boxed">
    <fieldset>
      <section>
        <label class="label">
          Телефон
        </label>
        <label class="input">
          <input type="text" name="phone" id="phone" class="input" required />
        </label>
      </section>
      <section>
        <label class="label">
          Логин
        </label>
        <label class="input">
          <input type="text" name="login" id="login" class="input" required />
        </label>
      </section>
      <section>
        <label class="label">
          Пароль
        </label>
        <label class="input">
          <input type="password" name="password" id="password" class="input" required />
        </label>
      </section>
    </fieldset>

    <footer>
      <button id="submit-register" class="btn btn-primary pull-right">Зарегистрироваться</button>
      <a href="/<%=module%>/pass/login" class="pull-left">Войти</a>
    </footer>
  </form>
</div>

<div class="login-box"id="code-box">
  <form class="profile-form boxed" action="/<%=module%>/pass/login" method="post" >
    <fieldset>
      <section>
        <label class="label">
          Код
        </label>
        <label class="input">
          <input type="text" name="sms-code" id="sms-code" class="input" required />
        </label>
      </section>
    </fieldset>

    <footer>
      <button id="submit-code" class="btn btn-primary pull-right">Отправить код</button>
    </footer>
  </form>
</div>

<script type="text/javascript">
  (function($){
    var successRedirect = '/<%=module%>/pass/index';
    var $registerBox = $('#register-box');
    var $codeBox = $('#code-box');
    $codeBox.hide();

    var $phone = $('#phone');
    var $login = $('#login');
    var $password = $('#password');
    var $smsCode = $('#sms-code');

    var $registerBtn = $('#submit-register');
    var $sendCodeBtn = $('#submit-code');

    $registerBtn.on('click', function() {
      $.ajax({
        url: "/pa/pass/register-verify",
        method: 'POST',
        data: {
          phone: $phone.val()
        },
        success: function() {
          $registerBox.hide();
          $codeBox.show();
        },
        error: function (err) {
          alert(err)
        }
      });
    });

    $sendCodeBtn.on('click', function() {
      $.ajax({
        url: "/pa/pass/register",
        method: 'POST',
        data: {
          code: $smsCode.val(),
          login: $login.val() || $phone.val(),
          password: $password.val()
        },
        success: function( result ) {
          window.location.href = successRedirect;
        },
        error: function (err) {
          alert(err)
        }
      });
    });

  })(jQuery)
</script>
